In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("C:/Users/andre/Documents/Strive_repository/1st-Build-Week/Resturantdata.csv")
df

,Names,Prices,Neighbourhoods,Number_of_reviews,Ratings,Type_of_resturant
0,Stadtklause,€,Kreuzberg,171,4.5,German
1,Schnitzelei Mitte,€€€,Mitte,51,4.5,Schnitzel
2,Momotaro Tavern,€€,Mitte,60,4.5,BurgersAsian Fusion
3,Aigner Gendarmenmarkt,€€€,Mitte,120,4.0,GermanAustrian
4,Ngon Restaurant Berlin,NaN,NaN,20,4.5,VietnamesePan AsianMitte
...,...,...,...,...,...,...
235,The MyMoon,NaN,NaN,4,4.5,Breakfast & BrunchSteakhousesTakeaway & Fast F...
236,Java House,€,Wedding,13,4.5,Pan Asian
237,Curry Baude,€,Wedding,106,4.5,Curry SausageTakeaway & Fast Food
238,Maultaschen Manufaktur,NaN,NaN,4,5.0,SwabianKreuzberg
239,Restaurant Foreign Affairs,€€€,Mitte,11,4.0,GermanAustrianInternational

In [9]:
#Check if everything works

df['Ratings'].mean()

4.322916666666667

In [10]:
df['Neighbourhoods'].value_counts()

Mitte             91
Prenzlauer        24
Tiergarten        17
Kreuzberg         16
Wedding           12
Schöneberg        11
Charlottenburg    11
Bergmannkiez       5
Friedrichshain     4
Wilmersdorf        4
Reuterkiez         3
Steglitz           1
Neukölln           1
Pankow             1
Lichtenberg        1
Name: Neighbourhoods, dtype: int64

In [6]:
#Check if everything works

df['Type_of_resturant'].value_counts()

German                         22
Italian                        11
Modern European                 6
French                          5
Ramen                           4
                               ..
Persian/Iranian                 1
MexicanTakeaway & Fast Food     1
GeorgianWine Bars               1
Pan AsianChinese                1
GermanAustrianInternational     1
Name: Type_of_resturant, Length: 153, dtype: int64

In [5]:
df1 = pd.read_csv("C:/Users/andre/Desktop/Resturantdata.csv")
df1

    Type_of_resturant
0              German
1           Schnitzel
2             Burgers
3        Asian Fusion
4              German
..                ...
355     Curry Sausage
356           Swabian
357            German
358          Austrian
359     International

[360 rows x 1 columns]

In [6]:
df1['Type_of_resturant'].value_counts()

German                49
Italian               16
Breakfast & Brunch    14
Modern European       11
Mediterranean         10
                      ..
Latin American         1
Bikes                  1
Jewish                 1
Russian                1
Singaporean            1
Name: Type_of_resturant, Length: 90, dtype: int64

In [11]:
df.groupby(['Prices']).mean()

        Number_of_reviews   Ratings
Prices
€              102.800000  4.366667
€€             102.959016  4.217213
€€€             60.000000  4.258621
€€€€            36.500000  4.750000